// Bootstrap
@import '~bootstrap/scss/bootstrap';


/* Scroll 4 */
::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}
::-webkit-scrollbar-track {
  width: 4px !important;
  border-radius: 20px;
  background-color: rgba(200, 200, 200, 0.8);
}
::-webkit-scrollbar-thumb {
  background-color: #e78632;
  background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.3) 20%,transparent 20%,transparent 40%,rgba(255, 255, 255, 0.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%,transparent 80%,rgba(255, 255, 255, 0.3) 80%);
  border-radius: 10px;
}

.cursor-not-allowed{
  cursor: not-allowed;
  pointer-events: all !important;
}
